/*
  Default cascading style sheet file for JHighlight - http://jhighlight.dev.java.net
  Copyright 2004-2006 Geert Bevin <gbevin[remove] at uwyn dot com>
  Distributed under the terms of either:
   - the common development and distribution license (CDDL), v1.0; or
   - the GNU Lesser General Public License, v2.1 or later
*/

.java_plain {
  color: rgb(0,0,0);
}

.java_keyword {
  color: rgb(0,0,0);
  font-weight: bold;
}

.java_type {
  color: rgb(0,44,221);
}

.java_operator {
  color: rgb(0,124,31);
}

.java_separator {
  color: rgb(0,33,255);
}

.java_literal {
  color: rgb(188,0,0);
}

.java_comment {
  color: rgb(147,147,147);
}

.java_javadoc_comment {
  color: rgb(147,147,147);
  font-style: italic;
}

.java_javadoc_tag {
  color: rgb(147,147,147);
  font-style: italic;
  font-weight: bold;
}

.xml_plain {
  color: rgb(0,0,0);
}

.xml_char_data {
  color: rgb(0,0,0);
}

.xml_tag_symbols {
  color: rgb(0,59,255);
}

.xml_comment {
  color: rgb(147,147,147);
}

.xml_attribute_value {
  color: rgb(193,0,0);
}

.xml_attribute_name {
  color: rgb(0,0,0);
  font-weight: bold;
}

.xml_processing_instruction {
  color: rgb(0,0,0);
  font-weight: bold;
  font-style: italic;
}

.xml_tag_name {
  color: rgb(0,55,255);
}

.xml_rife_tag {
  color: rgb(0,0,0);
}

.xml_rife_name {
  color: rgb(0,0,196);
}

.cpp_plain {
  color: rgb(0,0,0);
}

.cpp_keyword {
  color: rgb(0,0,0);
  font-weight: bold;
}

.cpp_type {
  color: rgb(0,44,221);
}

.cpp_operator {
  color: rgb(0,124,31);
}

.cpp_separator {
  color: rgb(0,33,255);
}

.cpp_literal {
  color: rgb(188,0,0);
}

.cpp_comment {
  color: rgb(147,147,147);
}

.cpp_doxygen_comment {
  color: rgb(147,147,147);
  font-style: italic;
}

.cpp_doxygen_tag {
  color: rgb(147,147,147);
  font-style: italic;
  font-weight: bold;
}

.cpp_preproc {
  color: purple;
}
