
/* Logo */
.aui-header .aui-header-logo a {
  margin-right: 0;
}

/* Toolbars */
.aui-toolbar {
  width: auto;
}

.aui-toolbar .toolbar-trigger {
  cursor: pointer;
}

/* Buttons */
.aui-buttons .aui-button ~ .aui-button.loading:hover {
  position: static;
}

a.aui-button-split-main {
  border-right: 0;
}

.aui-button img.avatar16 {
  vertical-align: text-top;
  margin: 0 2px 0 -4px;
}

/* Page Layout */
.aui-header {
  clear: inherit;
  float: inherit;
}

/* Page Header */
.aui-header-inner {
  margin: 0 auto;
  width: 980px;
}

/* Fixes BB-8063 */
.aui-header .aui-nav .aui-button-primary.aui-style {
  margin-right: 10px;
}

/* Horizontal nav */
.aui-navgroup-horizontal .aui-navgroup-inner {
  margin: 0 auto;
  width: 980px;
}

.aui-navgroup-horizontal.aui-navgroup-horizontal-roomy .aui-nav a {
  padding-left: 20px;
  padding-right: 20px;
}

.aui-navgroup-horizontal .aui-navgroup-inner {
  width: 1000px;
}

.aui-nav .aui-badge {
  font-weight: inherit;
}

/* vertical nav */

.aui-navgroup-vertical:first-child .aui-nav-heading:first-child {
  border-top: 0;
}

/* Fix the horizontal nav hover background going over the bottom border */
.aui-navbar .aui-nav-horizontal a {
  margin: 0;
  padding: 9px 10px;
}

.aui-navbar .aui-nav-horizontal .aui-nav-selected a:before,
.aui-navbar .aui-nav-horizontal .aui-nav-selected a:after {
  bottom: 0;
}

.aui-navbar .aui-nav-horizontal .aui-nav-selected a:after {
  bottom: -1px;
}

/* Typography */
body.mac.firefox,
body.linux.firefox,
body.mac.firefox form.aui button,
body.linux.firefox form.aui button,
body.mac.firefox a.aui-button,
body.linux.firefox a.aui-button,
body.mac.firefox .aui-button,
body.linux.firefox .aui-button {
  font-family: Arial,sans-serif;
}

h1 {
  margin: 20px 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25; /* 30px equivalent */
}

h2,
section h1 {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 1.5; /* 30px equivalent */
}

h3,
section h2,
section section h1 {
  margin: 20px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5625; /* 25px equivalent */
}

h4,
section h3,
section section h2,
section section section h1 {
  font-size: 14px;
  line-height: 1.5; /* 20px equivalent */
}

h5,
section h4,
section section h3,
section section section h2,
section section section section h1 {
  font-size: 12px;
  line-height: 1.66; /* 20px equivalent */
  color: #707070;
  text-transform: uppercase;
}

h6,
section h5,
section section h4,
section section section h3,
section section section section h2,
section section section section section h1 {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 1.66; /* 20px equivalent */
  color: #747474;
}

/* Forms */
form.aui .text, form.aui .password, form.aui .textarea, form.aui .select, form.aui .multi-select {
  max-width: inherit;
}

/* AUI Forms don't take into account non-field error messages */
form.aui .aui-message {
  margin: 10px 0;
}

.error.aui-message {
  background: #fff;
  color: #d04437;
}

.error.aui-message a {
  color: #3b73af;
}

.error.critical.aui-message {
  background: #d04437;
  color: #fff;
}

form.aui .field-group .warning,
form.aui .checkbox .warning,
form.aui .radio .warning {
  clear: both;
  color: #e8a317;
  display: block;
  margin: 5px 0 0;
}

form.aui .text[readonly] {
  background-color: #f5f5f5;
  color: #999;
}

form.aui input.text.has-errors {
  border-color: #d04437;
}

/* Description text is misaligned for radio buttons and checkboxes */
form.aui div.radio .description,
form.aui div.checkbox .description {
  margin: 0 0 0 25px;
}

/* for headings in form descriptions */
form.aui .field-group .heading {
  display: block;
}

/* Dropdown in buttons */
.aui-button .aui-icon-dropdown,
.toolbar-trigger .aui-icon-dropdown {
  opacity: 0.8;
  top: 2px;
}

.aui-button:hover .aui-icon-dropdown {
  opacity: 1;
}

/* Messages */
#aui-message-bar {
  left: 50%;
  margin-left: -300px;
  position: fixed;
  top: 20px;
  width: 600px;
  /* Make sure messages show up over blanket (2500) and dialog (3006) */
  z-index: 4000;
}

#aui-message-bar .aui-message.shadowed {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

#header > .aui-message p {
  width: 887px;
  margin: 0 auto;
  padding-right: 21px;
  position: relative;
}
#header > .aui-message .aui-icon {
  top: 11px;
  left: 50%;
  margin-left: -480px;
}
#header > .aui-message .icon-close {
  margin-left: 454px;
}

/* Inline Dialog */
.aui-inline-dialog .contents {
  padding: 0;
}

.aui-dialog .dialog-button-panel .aui-button[disabled],
.aui-dialog .dialog-button-panel .aui-button[disabled]:hover,
.aui-dialog .dialog-button-panel .aui-button[disabled]:focus,
.aui-dialog .dialog-button-panel .aui-button[disabled]:active,
.aui-dialog .dialog-button-panel .aui-button[aria-disabled="true"],
.aui-dialog .dialog-button-panel .aui-button[aria-disabled="true"]:hover,
.aui-dialog .dialog-button-panel .aui-button[aria-disabled="true"]:focus,
.aui-dialog .dialog-button-panel .aui-button[aria-disabled="true"]:active,
.aui-dialog .dialog-button-panel .aui-button[aria-disabled="true"][aria-pressed],
.aui-dialog .dialog-button-panel .button-panel-button[disabled],
.aui-dialog .dialog-button-panel .button-panel-button[disabled]:hover,
.aui-dialog .dialog-button-panel .button-panel-button[disabled]:focus,
.aui-dialog .dialog-button-panel .button-panel-button[disabled]:active,
.aui-dialog .dialog-button-panel .button-panel-button[aria-disabled="true"],
.aui-dialog .dialog-button-panel .button-panel-button[aria-disabled="true"]:hover,
.aui-dialog .dialog-button-panel .button-panel-button[aria-disabled="true"]:focus,
.aui-dialog .dialog-button-panel .button-panel-button[aria-disabled="true"]:active {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #fff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top, #fff 0%,#f2f2f2 100%); /* W3C */
  border-color: #ccc;
  box-shadow: none;
  color: #999;
  cursor: default;
  text-shadow: none;
}

button:focus {
  outline: 3px auto -webkit-focus-ring-color;
  outline-offset: -3px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: 0;
}

/* Chosen uses abbrs, so we need to override the aui default */
.chzn-container abbr.search-choice-close {
  cursor: pointer;
}

/* Forms */
form.aui .field-value {
  font-weight: normal;
}

/* Tabs */

.aui-tabs.aui-tabs-disabled > .tabs-menu > .menu-item > a {
  cursor: pointer;
}

/* AUI dialog close "x" */
.aui-dialog .aui-dialog-close {
  color: #707070;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.aui-dialog .aui-dialog-close:hover {
  color: #333;
}

/* Footer overrides */
#footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 140px;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  padding-top: 20px;
}

#footer .footer-body {
  margin: 0;
  background: transparent;
}

.copyright {
  color: #0000ff;
  font-size: 8px;
}

/* Pagination */
.aui-nav-pagination a[aria-disabled=true] {
  cursor: default;
}

/* Bonus aui badge style (maybe not ADG approved, but used in JIRA) */
.aui-badge.aui-badge-active {
  background-color: #326ca6;
  color: #fff;
}

/* App switcher styles */
.nav-link-label,
.nav-link-description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-links .nav-link-description {
  color: #707070;
}

.nav-links .nav-link-edit {
  color: #3b73af;
}

.nav-links .active>.nav-link-label,
.nav-links .active>.nav-link-description,
.nav-links .active>.nav-link-edit {
  color: inherit;
}

.nav-links .nav-link-edit-wrapper {
  padding-left: 31px!important;
}

/*
  disabled styles for auiSelect2
*/
.aui-select2-container.select2-container-disabled a.select2-choice {
  background: #f5f5f5;
  border-color: #ccc;
  color: #999;
  cursor: default;
}

.aui-select2-container.select2-container-disabled a.select2-choice:active,
.aui-select2-container.select2-container-disabled a.select2-choice:hover {
  background: #f5f5f5;
  border-color: #ccc;
  color: #999;
  box-shadow: none;
}

.aui-select2-container.select2-container-disabled .select2-choice:hover:after {
  opacity: 0.8;
}

.aui-select2-container.select2-container-disabled a.select2-choice .select2-arrow {
  background: #f5f5f5;
}

/* Don't show dropdown arrow for when using "more" icon */
.aui-button.aui-dropdown2-trigger-more,
.aui-button.aui-button-compact.aui-dropdown2-trigger-more {
  padding-right: 10px !important;
}
.aui-button.aui-dropdown2-trigger-more:after {
  content: none;
}
html {
  height: 100%;
}
body {
  background: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
}
#page {
  height: 100%;
  min-width: 1010px;
  /* a 15px gutter for small screens */

}
#wrapper {
  height: auto;
  margin-bottom: -140px;
  min-height: 100%;
  overflow: hidden;
}
#repo-dropdown {
  z-index: 5;
  /* CodeMirror uses z-index to layer their modes. This prevents the editor from overlapping the repo dropdown. */

  min-width: 200px;
  max-width: 260px;
}
#user-dropdown {
  min-width: 150px;
  max-width: 200px;
}
#logo img {
  vertical-align: middle;
}
/* Only show 2x version of logo when necessary; aui provides 1x version */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .aui-header .aui-header-logo-bitbucket .aui-header-logo-device {
    background-image: url('../img/logo.png');
    background-size: 99px 17px;
  }
}
body.staging .aui-header .aui-header-logo-bitbucket .aui-header-logo-device {
    background-image: url('../img/logo.png');
  background-size: 101px 23px;
}
/* Marketing logo */
.aui-header .aui-header-logo-bitbucket.logged-out .aui-header-logo-device {
    background-image: url('../img/logo.png');
  background-size: 102px 28px;
  width: 102px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .aui-header .aui-header-logo-bitbucket.logged-out .aui-header-logo-device {
    background-image: url('../img/logo.png');
  }
}
#content {
  margin: 0 auto;
  min-height: 100%;
  padding: 0 0 140px;
  width: 980px;
}
header.subhead.row {
  background: #f5f5f5;
  border-bottom: 1px solid #cccccc;
}
#inline-dialog-metaInfo ul {
  padding: 0px;
}
#inline-dialog-metaInfo ul li {
  list-style: none;
}
.center-content {
  position: relative;
  margin: 0 auto;
  width: 980px;
}
#infobox,
#account-admin-links,
#account-warning {
  display: none;
}

body.workflow-layout {
  background: #f5f5f5;
}

body.workflow-layout #footer {
  border-top: none;
}

body.workflow-layout #content {
  padding-top: 40px;
}

body.workflow-layout .workflow-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 30px;
}

body.workflow-layout .workflow-box > header {
  padding: 0 0 12px;
  position: relative;
}

body.workflow-layout .workflow-box > header .secondary-link {
  position: absolute;
  right: 0;
  top: 8px;
}

body.workflow-layout .workflow-box > section {
  display: inline-block;
  position: relative;
  border-top: 1px solid #ccc;
  padding: 20px 0 0;
  width: 100%;
}

.workflow-box > section .sidebar {
  float: right;
  margin: 0;
  width: 310px;
}

.workflow-box > section .sidebar h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4286;
}

.workflow-box .sidebar + form,
.workflow-box .sidebar + div {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 606px;
  padding-right: 30px;
}

.workflow-box > section .sidebar .help-link {
  float: right;
  margin-bottom: 20px;
}


.icon.icon-redring {
  height: 240px;
  width: 200px;
}
.issue-dialog,
.pr-dialog {
  display: none;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  min-width: 140px;
}
.issue-dialog ul,
.pr-dialog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.issue-dialog li,
.pr-dialog li {
  margin-top: 5px;
}
.issue-dialog li:after,
.pr-dialog li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.issue-dialog li:after,
.pr-dialog li:after {
  display: inline-block;
}
.issue-dialog li:first-child,
.pr-dialog li:first-child {
  margin-top: 0;
}
.issue-dialog .issue-title,
.pr-dialog .issue-title,
.issue-dialog .pr-title,
.pr-dialog .pr-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.issue-dialog .aui-lozenge,
.pr-dialog .aui-lozenge {
  position: relative;
  top: 2px;
  float: right;
}

#features {
  margin: 20px 0;
  padding: 0 10px;
}
#features .feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#features .feature-item {
  padding: 30px 0;
  border-top: 1px solid #cccccc;
}
#features .feature-item:first-child {
  padding-top: 20px;
  border-top: none;
}
#features .feature-image {
  float: left;
  margin-right: 30px;
  width: 450px;
  height: 250px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#features .feature-actions {
  list-style: none;
  margin: 0;
  padding: 0;
}
#features .feature-actions li {
  float: left;
  font-size: 12px;
  color: #707070;
}
#features .feature-actions li a {
  color: #707070;
}
#features .feature-actions li:first-child:before {
  content: none;
}
#features .feature-actions li:before {
  content: '•';
  margin: 0 3px 0 5px;
}
#features .aui-lozenge {
  vertical-align: middle;
}
#features .rss span {
  color: #f68a1f;
  position: relative;
  top: 20px;
}

.extras-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.extras-list > li > a {
  display: block;
  padding: 5px 10px;
}
.extras-list > li > a:hover {
  background: #f5f5f5;
}

#comments-list > li:first-of-type {
  border-top: none;
}
/* Make sure the clone url dropdown displays above the inline dialog */
#clone-url-dropdown-header {
  z-index: 110;
}
#repo-warning {
  display: none;
}

#qseries form.top-label div.radio {
  padding-left: 0;
}
#qseries form.top-label div.radio.apply label {
  color: #707070;
}
#qseries form.top-label div.radio.apply label:after {
  content: '(included)';
  margin-left: 5px;
}
#qseries #patch-diff .aui-buttons {
  display: none;
}


.aui-dialog a.button-panel-link.link-manage-all {
  float: left;
  padding-left: 10px;
}


.new-links {
  display: inline-block;
  margin: -20px 0 0 -20px;
  padding: 0;
  list-style: none;
}
.new-links li {
  float: left;
}
.new-links li a {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #fafafa, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #fafafa, #f5f5f5);
  background-image: -o-linear-gradient(top, #fafafa, #f5f5f5);
  background-image: linear-gradient(to bottom, #fafafa, #f5f5f5);
  background-repeat: repeat-x;
  height: 48px;
  width: 330px;
  padding: 16px;
  cursor: pointer;
  text-align: center;
}
.new-links li a:hover {
  border: 1px solid #3b73af;
}
.new-links li a img {
  height: 48px;
}

.repo-access-form .access {
  margin: 0;
  padding: 0;
  list-style: none;
}
.repo-access-form .access li.selected {
  cursor: default;
}
.repo-access-form .access li.aui-lozenge {
  float: left;
  margin: 1px 5px 0 0;
  padding: 2px 4px 1px;
  cursor: pointer;
}
.repo-access-form .access li.aui-lozenge:last-child {
  margin-right: 0;
}
.repo-access-form table.widget .access-level {
  width: 175px;
}
.repo-access-form th {
  position: absolute;
  left: -9999px;
}
.repo-access-form td.email .aui-icon {
  color: #707070;
  margin-right: 5px;
  vertical-align: middle;
}
.repo-access-form td.email .aui-lozenge {
  position: relative;
  left: 5px;
  top: -1px;
}

#import-upload-target {
  display: none;
}
#import-upload-form .buttons-container {
  margin-top: 10px;
}
#import-upload-form .error-container {
  color: #d04437;
}
#import.file-hover {
  border: 2px dashed #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

#repo-admin #admin-branch-management dt {
  font-weight: bold;
}
#repo-admin #admin-branch-management dd {
  margin: 0.4em 0 1em;
  padding-left: 1.65em;
}


.image-upload-and-crop-container.filereader-unsupported .description.fallback {
  display: block;
}
.image-upload-and-crop-container.filereader-unsupported .description {
  display: none;
}
.image-upload-and-crop-container .description.fallback {
  display: none;
}
.image-upload-and-crop-container form.aui {
  margin: 20px auto 0;
}
.image-upload-and-crop-container form.aui .spinner {
  width: 30px;
  height: 30px;
  float: left;
  margin-left: -30px;
}
.image-upload-and-crop-container .image-upload-field {
  display: none;
}
.image-upload-and-crop-container .image-upload-field[disabled] + .image-upload-field-replacement {
  opacity: 0.005;
  filter: alpha(opacity=0.5);
}
.image-upload-and-crop-container .image-upload-field[disabled] + .image-upload-field-replacement:hover {
  border-color: #cccccc;
}
.image-upload-and-crop-container .image-upload-field[disabled] + .image-upload-field-replacement:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.image-upload-and-crop-container .image-upload-field-replacement {
  color: #333333;
}
.image-upload-and-crop-container .image-explorer-container {
  margin: 0 auto;
}
.image-explorer-container {
  width: 324px;
}
.image-explorer-container.empty .image-explorer-image-view {
  border: 3px dashed #cccccc;
  background: none;
  margin: 0;
}
.image-explorer-container.empty .image-explorer-image-view[data-upload-prompt]:after {
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: attr(data-upload-prompt);
  color: #999999;
  text-align: center;
  font-size: 20px;
  width: 60%;
  height: 100%;
  margin-left: -30%;
  padding: 48px 20px 0;
  position: absolute;
  top: 35%;
  left: 50%;
  background: transparent;
  background-size: 48px;
}
.image-explorer-container.empty .image-explorer-image-view .image-explorer-source,
.image-explorer-container.empty .image-explorer-image-view .image-explorer-mask {
  display: none;
}
.image-explorer-container.empty .image-explorer-image-view .image-explorer-drag-delete {
  cursor: default;
}
.image-explorer-container.empty .image-explorer-scale-slider-wrapper {
  display: none;
}
.image-explorer-container.error .image-explorer-image-view[data-upload-prompt]:after {
  display: none;
}
.image-explorer-container .image-explorer-image-view {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin: 1px;
}
.image-explorer-container .image-explorer-image-view.active-drop-target {
  border-color: #14892c;
}
.image-explorer-container .image-explorer-image-view.active-drop-target[data-upload-prompt]:after {
  background-size: 48px;
  color: #14892c;
}
.image-explorer-container .image-explorer-image-view .image-explorer-drag-delegate {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: move;
  background-color: rgba(0, 0, 0, 0);
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask {
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -128px;
  margin-top: -128px;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.circle-mask {
  width: 256px;
  height: 256px;
  border-radius: 128px;
  background-clip: padding-box;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.circle-mask.avatar256 {
  border-radius: 16px;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.square-mask {
  width: 256px;
  height: 256px;
}
.image-explorer-container .image-explorer-image-view .image-explorer-mask.rounded-square-mask {
  width: 256px;
  height: 256px;
  border-radius: 5px;
  background-clip: padding-box;
}
.image-explorer-container .image-explorer-image-view img {
  position: absolute;
  left: 50%;
  top: 50%;
}
.image-explorer-container .image-explorer-image-view .aui-message {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 280px;
  max-height: 280px;
  margin-left: -140px;
  z-index: 10;
  word-wrap: break-word;
}
.image-explorer-container .image-explorer-image-view .aui-message.closeable {
  padding-right: 36px;
}
.image-explorer-container .image-explorer-scale-slider-wrapper {
  display: inline-block;
  width: 270px;
  margin: 20px 25px 0;
  position: relative;
  height: 20px;
  line-height: 20px;
}
.image-explorer-container .image-explorer-scale-slider-wrapper:before,
.image-explorer-container .image-explorer-scale-slider-wrapper:after {
  width: 20px;
  height: 20px;
  content: '';
  background-size: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background: transparent no-repeat 50% 50%;
}
.image-explorer-container .image-explorer-scale-slider-wrapper:before {
  left: -25px;
}
.image-explorer-container .image-explorer-scale-slider-wrapper:after {
  right: -27px;
}
.image-explorer-container .image-explorer-scale-slider,
.image-explorer-container .fd-slider {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 270px;
  vertical-align: middle;
}
.image-explorer-container .image-explorer-scale-slider.fd-form-element-hidden,
.image-explorer-container .fd-slider.fd-form-element-hidden {
  display: none;
}
.image-explorer-container .fd-slider .fd-slider-bar {
  left: 3px;
  right: 3px;
}
.image-explorer-container .fd-slider .fd-slider-range {
  left: 4px;
}
#avatar-picker-dialog .dialog-panel-body {
  padding: 30px;
}
#avatar-picker-dialog .delete-link {
  float: left;
  margin: 0 0 0 10px;
}

#repo-admin #transfer-repository .transfer-desc {
  line-height: 32px;
  height: 32px;
}

#repo-admin #transfer-repository .transfer-desc img {
  position: absolute;
  left: 5px;
}

#repo-admin #transfer-repository .transfer-desc a {
  position: relative;
  padding-left: 42px;
  font-weight: bold;
}

#repo-admin #transfer-repository .transfer-desc a:first-child {
  padding-left: 37px;
}

#repo-admin #transfer-repository .transfer-desc a:first-child img {
  left: 0;
}

#repo-admin #transfer-repository .transfer-desc time {
  font-size: 12px;
  color: #707070;
}

#issues-admin,
#wiki-admin {
  float: left;
  margin-right: 18px;
  width: 400px;
}

.upsell-ad a {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: block;
  float: right;
  padding: 20px;
  width: 332px;
}

.upsell-ad a:hover {
  text-decoration: none;
}

.upsell-ad a img.logo {
  display: block;
  margin-bottom: 10px;
}

.upsell-ad a .primary-action {
  color: #3b73af;
  display: block;
  margin-top: 10px;
}

.upsell-ad a:hover .primary-action {
  text-decoration: underline;
}


body.explorer #source .blank-slate-banner {
  background-size: 980px;
  background-position-x: -320px;
}
#source .blank-slate-banner > div {
  padding: 65px 60px 0 60px;
}
#source .blank-slate-banner > div > p {
  font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, monospace;
  font-size: 20px;
  color: #707070;
}
#source.writer .blank-slate-banner > div {
  padding-top: 50px;
}
#source-container {
  position: relative;
}
#repo-content #source-container > section {
  margin-top: 20px;
}
#repo-content #source-container > section > table.aui {
  margin-top: -10px;
  /* Account for the 10px of padding in the table header */

}
#source-container header .labels {
  float: left;
  margin-right: 10px;
}
#source-container header h1 {
  border-left: 1px solid #cccccc;
  display: table-cell;
  font-size: 16px;
  line-height: 1.875;
  margin: 0;
  padding-left: 10px;
}
#source-container header .view-switcher {
  float: right;
  margin-left: 10px;
}
#source-container .toolbar {
  background: #f5f5f5;
  border: 1px solid #cccccc;
  border-bottom: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  margin-top: 20px;
  padding: 10px;
}
#source-container .toolbar .primary {
  float: left;
}
#source-container .toolbar .secondary {
  float: right;
}
#source-container .toolbar .secondary .edit-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#source-container .toolbar .secondary .edit-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#source-container .changeset-info .timestamp {
  color: #707070;
  font-size: 12px;
}
#source-container .changeset-info .changeset-hash {
  color: #3b7fc4;
  font-size: 100%;
  vertical-align: middle;
}
#source-container #full-commit-link {
  display: inline-block;
  margin: 5px 0 0 5px;
}
#source-container .aui-buttons {
  vertical-align: top;
}
#source-container .file-source {
  overflow-x: auto;
}
#source-container .file-source.too-big {
  padding: 100px 0;
  text-align: center;
}
#source-container .file-source pre {
  margin: 0;
}
#source-container .highlighttable {
  border-collapse: collapse;
}
#source-container .highlighttable td {
  height: 18px;
  padding: 8px 10px;
  vertical-align: top;
}
#source-container .highlighttable td.linenos,
#source-container .highlighttable td.annotations {
  background: #f5f5f5;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #707070;
  text-align: right;
  width: 25px;
}
#source-container .highlighttable td.annotations pre {
  font-size: 10px;
  line-height: 1.68;
  /* 16.8px */

}
#source-container .highlighttable td.linenos a {
  color: #707070;
}
#source-container .highlighttable .highlight pre a:target {
  display: block;
  position: absolute;
  left: 0;
  background-color: #ebf2f9;
  height: 16px;
  width: 100%;
  z-index: -1;
}
#source-container #inline-image {
  border: 1px solid #cccccc;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 30px;
  text-align: center;
}
#source-container .file-source,
#rendered-markup {
  border: 1px solid #cccccc;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#rendered-markup {
  padding: 10px;
}
#source-list {
  margin-top: 20px;
  max-width: 100%;
}
#source-list th {
  display: none;
}
#source-list td.size {
  min-width: 55px;
}
#source-list td.name {
  white-space: nowrap;
}
#source-list td.dirname {
  font-weight: bold;
}
#source-list td.date {
  white-space: nowrap;
}
#source-list td .aui-icon {
  color: #707070;
  margin-right: 10px;
}
#inline-dialog-embed-dialog .embed {
  padding: 10px;
}
#inline-dialog-embed-dialog #embed-code {
  width: 100%;
}

#source-container #source-diff {
  margin-top: 20px;
  position: relative;
  font-size: 0; /* Remove gap between header and diff section */
}

#source-container #source-diff .aui-message {
  font-size: 14px;
}

#source-container #source-diff header {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

#source-container #source-diff header > .desc,
#source-container #source-diff header > .diff-selector {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}

#source-container #source-diff header > .desc {
  line-height: 32px;
  font-size: 20px;
}

#source-container #source-diff header .error {
  clear: both;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
}

#source-container #source-diff #changeset-diff {
  margin-top: 0;
}

#source-container #source-diff .bb-patch .diff-actions a.view-file {
  display: none;
}

/* "Trac" color style */

.c  { color: #998; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.cm { color: #998; font-style: italic } /* Comment.Multiline */
.c1 { color: #998; font-style: italic } /* Comment.Single */
.cs { color: #999; font-style: italic } /* Comment.Special */
.gd { color: #000; background-color: #fdd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #a00 } /* Generic.Error */
.gh { color: #999 } /* Generic.Heading */
.gi { color: #000; background-color: #dfd } /* Generic.Inserted */
.go { color: #888 } /* Generic.Output */
.gp { color: #555 } /* Generic.Prompt */
.gu { color: #aaa } /* Generic.Subheading */
.gt { color: #a00 } /* Generic.Traceback */
.k  { color: #004080 }
.kc { color: #004080 }
.kd { color: #004080 }
.kp { color: #004080 }
.kr { color: #004080 }
.kt { color: #458 } /* Keyword.Type */
.m  { color: #099 } /* Literal.Number */
.s  { color: #b84 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #999 } /* Name.Builtin */
.nc { color: #458 } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #900 } /* Name.Exception */
.nf { color: #900 } /* Name.Function */
.nn { color: #555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.w  { color: #bbb } /* Text.Whitespace */
.mf { color: #099 } /* Literal.Number.Float */
.mh { color: #099 } /* Literal.Number.Hex */
.mi { color: #099 } /* Literal.Number.Integer */
.mo { color: #099 } /* Literal.Number.Oct */
.sb { color: #b84 } /* Literal.String.Backtick */
.sc { color: #b84 } /* Literal.String.Char */
.sd { color: #b84 } /* Literal.String.Doc */
.s2 { color: #b84 } /* Literal.String.Double */
.se { color: #b84 } /* Literal.String.Escape */
.sh { color: #b84 } /* Literal.String.Heredoc */
.si { color: #b84 } /* Literal.String.Interpol */
.sx { color: #b84 } /* Literal.String.Other */
.sr { color: #808000 } /* Literal.String.Regex */
.s1 { color: #b84 } /* Literal.String.Single */
.ss { color: #b84 } /* Literal.String.Symbol */
.bp { color: #999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #099 } /* Literal.Number.Integer.Long */

#issues .blank-slate-banner > div {
  padding: 50px 40px 0 40px;
}
#issues #issues-filter-criteria:empty + #issues-list {
  margin-top: 54px;
}
#issues #issues-list-tabs {
  margin-top: 20px;
}
#issues #issues-toolbar {
  width: 100%;
}
#issues #issues-toolbar .issues-toolbar-left {
  float: left;
  margin-right: 10px;
}
#issues #issues-toolbar .issues-toolbar-right {
  float: right;
  margin-left: 10px;
}
#issues #issues-toolbar .filter-container {
  float: left;
  margin: 5px 0 0 10px;
}
#issues #issues-toolbar #advanced-search {
  line-height: 32px;
}
#issues #issues-toolbar #search .field-group {
  padding: 0;
}
#issues #issues-toolbar #search input {
  width: 200px;
}
#issues #issues-toolbar #search label {
  position: absolute;
  left: -9999px;
}

/* Attachments */
#issues #new-issue #attachments h3 {
  color: #666;
}

/* Anonymous issue warnings */
#issues #new-issue .aui-message {
  margin: 10px 0 15px;
}

#issues #issue-form select {
  width: 300px;
}
#issues #issue-form input,
#issues #issue-form .attachment-list,
#issues #issue-form .textarea-preview {
  width: 70%;
}
#issues #issue-form textarea {
  height: 192px;
  width: 100%;
}
#issues #issue-form #assign-to-me {
  display: table;
  margin-left: 0;
  margin-top: 5px;
}
#issues #issue-form .attachment-list {
  margin: 0;
  padding: 0;
}
#issues #issue-form .attachment-list li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: auto;
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 5px 10px;
  position: relative;
}
#issues #issue-form .attachment-list li:hover {
  background: #ffffff;
}
#issues #issue-form .attachment-list li:last-child {
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
#issues #issue-form .attachment-list a[href="#delete-attachment"] {
  color: #707070;
  position: absolute;
  right: 10px;
  top: 5px;
}
#issues #issue-form .attachment-list a[href="#delete-attachment"]:hover {
  color: #333333;
}
#issues #issue-form .reporter {
  padding-left: 21px;
  position: relative;
}
#issues #issue-form .reporter img {
  left: 0;
  position: absolute;
  top: 5px;
}
#issues .aui-message.convert-markup {
  margin: 0 0 20px 0;
}

#issues #issue-view #primary {
  float: left;
  width: 610px;
}
#issues #issue-view #secondary {
  float: right;
  width: 330px;
}
#issues #issue-view #secondary .bb-toolbar .aui-buttons {
  float: right;
}
#issues #issue-view #secondary .bb-toolbar .aui-buttons + .aui-buttons {
  margin: 0 10px 0 0;
}
#issues #issue-view #issue-header {
  margin-bottom: 10px;
}
#issues #issue-view #issue-header .aui-lozenge {
  margin: 2px 0 2px 5px;
  vertical-align: top;
}
#issues #issue-view #issue-header #create-issue {
  float: right;
}
#issues #issue-view #issue-title {
  margin-top: -5px;
}
#issues #issue-view #issue-main-content {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
#issues #issue-view #issue-main-content img {
  max-width: 100%;
}
#issues #issue-view #issue-main-content .issue-author {
  position: relative;
  margin-top: 12px;
  padding-left: 42px;
}
#issues #issue-view #issue-main-content .issue-author img {
  position: absolute;
  top: 3px;
  left: 0;
}
#issues #issue-view #issue-main-content .issue-author a {
  font-weight: bold;
}
#issues #issue-view #issue-main-content .issue-author time {
  font-size: 12px;
  color: #707070;
}
#issues #issue-view #issue-main-content .issue-description,
#issues #issue-view #issue-main-content .attachments {
  padding-left: 42px;
}
#issues #issue-view #issue-main-content .attachments {
  margin: 13px 0 0;
}
#issues #issue-view #issues-comments-container {
  margin-top: 5px;
}
#issues #issue-view #issues-comments-container #issues-comments .issue-comment:first-child {
  border-top: none;
}
#issues #issue-view #issues-comments-container li.issue-comment:target {
  background-color: #ebf2f9;
}
#issues #issue-view #jira-issue-box .jira-full-logo {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 120px;
  height: 47px;
}
#issue-transition-dialog textarea,
#issue-attachment-dialog textarea {
  width: 100%;
  height: 100px;
}

#issues #issues-query-builder > header > h1 {
  border-bottom: 1px solid #ccc;
}

#issues #issues-query-builder #filters {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

#issues #issues-query-builder #filters:empty {
  border-bottom: none;
  padding: 0;
}

#issues #issues-query-builder #filters li {
  clear: left;
}
#issues #issues-query-builder #filters li > div {
  float: left;
  padding: 5px 10px 5px 0;
}

#issues #issues-query-builder #filters li > div.filter-header {
  width: 135px;
  line-height: 28px;
  text-align: right;
  color: #707070;
}

#issues #issues-query-builder #filters li > div.filter-comp,
#issues #issues-query-builder #filters li > div.filter-query {
  font-size: 0;
}

#issues #issues-query-builder #filters li > div.filter-comp select {
  width: 140px;
}

#issues #issues-query-builder #filters li > div select,
#issues #issues-query-builder #filters li > div input {
  height: 28px;
  width: 220px;
  margin: 0;
}

#issues #issues-query-builder #filters li > div img {
  padding: 6px 0;
}

#issues #issues-query-builder #filters li.empty {
  width: 130px;
  color: #707070;
  text-align: right;
}

#issues #issues-query-builder .addfilter {
  padding-top: 20px;
  margin-top: 0;
}

#issues #issues-query-builder .addfilter select {
  width: 200px;
}

#support-header {
  padding: 30px 50px;
}

#support-header form {
  margin: -10px 0 0;
  background: #fff;
}

#support-header form .field-group {
  margin: 0;
  padding: 0;
}

#support-header form label.assistive {
  margin: 0;
}

#support-header form  input[type="search"]::-webkit-search-decoration,
#support-header form  input[type="search"]::-webkit-search-results-button {
  display: none;
}

#support-content {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #f5f5f5;
  margin-bottom: 50px;
}

#support-content > div {
  padding: 10px;
}

#support-content .main {
  display: inline-block;
  width: 680px;
  background: #fff;
  border-right: 1px solid #ccc;
  font-size: 0;
}

#support-content .main .column {
  display: inline-block;
  width: 340px;
  font-size: 14px;
}

#support-content .main .column .help-link {
  margin: 10px 0 0 15px;
}

#support-content .main .column .additional-links {
  float: left;
  margin: 20px 0 0 15px;
}

#support-content .sidebar {
  float: right;
  width: 257px;
}

#support-content .sidebar h1 {
  margin-top: 5px;
}

#support-content .sidebar .aui-button {
  margin-top: 10px;
}

#support-content ul {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

#support-admin-header {
  padding: 20px 0;
}
#support-admin-header h1 {
  float: left;
  margin-top: 10px;
}
#support-admin-header form {
  float: right;
  width: 530px;
  margin-top: 10px;
}
#support-admin-header form label {
  display: none;
}
#support-admin-header form input[type="submit"] {
  display: none;
}
#support-admin-header form input[type="text"] {
  margin: 0;
  wdith: 530px;
}
#admin-user-header {
  padding: 10px 0 0 20px;
  margin-bottom: 20px;
}
#admin-user-header #left {
  vertical-align: top;
  display: inline-block;
  width: 48%;
}
#admin-user-header #right {
  display: inline-block;
  width: 50%;
}
#support-admin-content {
  margin: 20px 0;
}
#support-admin-content .repo-avatar-container {
  display: inline-block;
}
#support-admin-content .invitation-table .invite-header {
  display: none;
}
#support-admin-content .invitation-table .invite-email-row {
  width: 200px;
}
#support-admin-content .invitation-table .invite-to-row {
  width: 250px;
}
#support-admin-content .invitation-table .invite-accepted-row {
  width: 75px;
}
#support-admin-content .tabs-pane {
  margin-top: 10px;
}
#support-admin-content .tabs-pane ul {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
#support-admin-content .respositories-listing-table {
  margin: 0 0 15px 0;
}
#support-admin-content .respositories-listing-table .repo-list-headings {
  display: none;
}
#support-admin-content .respositories-listing-table .repo-slug-row {
  width: 300px;
}

#explore #repo-search-form h1,
#explore #repo-search-nav {
  float: left;
  width: 120px;
  padding-right: 20px;
}

#explore #repo-search-form {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
  padding: 28px 0 20px;
}

#explore #repo-search-form h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
}

#explore #repo-search-form h1 label {
  color: #000;
}

#explore #repo-search-form #search-query-input {
  width: 410px;
  margin-right: 15px;
}

#explore #repo-search-nav {
  margin-top: -7px;
}

#explore #repo-list {
  float: left;
  width: 510px;
  padding-right: 20px;
}

#explore #repo-list.only-mine {
  float: none;
  padding-top: 20px;
}

#explore #repo-list>h1 {
  margin-bottom: 20px;
}

#explore #repo-list #repositories {
  list-style: none;
  padding-left: 0;
}

/* TODO rename this to avoid clashing with repo-summary.css BB-6229 */
#explore .repo-summary {
  margin-bottom: 20px;
  padding-left: 0;
}

#explore .repo-summary .avatar-link {
  float: left;
  margin-right: 10px;
  height: 32px;
  width: 32px;
}

#explore .repo-summary h1,
#explore .repo-summary p,
#explore .repo-summary .repo-metadata {
  margin-left: 42px;
}

#explore .repo-summary h1 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2px;
}

#explore .repo-summary p {
  color: #707070;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 2px;
}

#explore .repo-summary .repo-metadata {
  color: #707070;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 100;
  font-size: 0;
}

#explore .repo-summary .repo-metadata li {
  height: inherit;
  margin: 0 10px 0 0;
  font-size: 12px;
}

#explore .repo-summary .repo-metadata li a:after {
  content: '\b7';
  margin-left: 10px;
}

#explore .repo-summary .repo-metadata li:last-child a:after {
  content: '';
  display: none;
}

/* Override repo-summary.css */
#explore .repo-summary .repo-metadata li a {
  display: inline;
}

#explore .repo-summary .repo-metadata li:after {
  content: none;
  display: none;
}

#explore #repo-list .paginator {
  margin: 0 0 20px;
}

#explore .more-help {
  float: left;
  margin-bottom: 20px;
  width: 310px;
}

#explore .more-help h1 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 12px;
}

#explore .help-link {
  margin: 10px 0;
}

#explore #repo-search-nav .language .select {
  margin-left: 10px;
  visibility: hidden;
}

#explore #repo-search-nav .language.has-value > a {
  display: none;
}

#explore #repo-search-nav .language.has-value .select {
  visibility: visible;
}

#wiki-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px 20px;
  overflow: auto;
}

#wiki-content table {
    border-collapse: collapse;
    width: 100%;
}

#wiki-content table table {
    margin: 0;
}

#wiki-content table > caption {
    color: #707070;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    caption-side: top;
    padding: 7px 10px;
    text-align: left;
}

#wiki-content table > tbody > tr,
#wiki-content table > tfoot > tr {
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
}

#wiki-content table > tbody > tr > th {
    background: #fff;
    color: #333;
}

#wiki-content table > thead > tr > th,
#wiki-content table > tbody > tr > th,
#wiki-content table > thead > tr > td,
#wiki-content table > tbody > tr > td,
#wiki-content table > tfoot > tr > td {
    padding: 7px 10px;
    text-align: left;
    vertical-align: top;
}

#wiki-content table > thead {
    border-bottom: 1px solid #ccc;
}
/* Borders on TBODY and TFOOT don't work in IE - whereas these at least work in IE7 & IE8 */
#wiki-content table > tbody > tr:first-child > td,
#wiki-content table > tbody > tr:first-child > th,
#wiki-content table > tfoot > tr:first-child > td {
    border-top: 1px solid #ccc;
}

#wiki-content img {
  max-width: 100%;
}

#wiki .revision-date {
  color: #707070;
}

#wiki > h1 {
  clear: left;
  float: left;
  margin-top: -5px;
  width: 640px;
}

#wiki > h1.error {
  float: none;
  width: 100%;
}

#wiki .wiki-toolbar {
  clear: right;
  float: right;
  padding: 0;
}

#wiki .back {
  float: left;
  margin-bottom: 5px;
}

#wiki .buttons-container {
  padding-top: 20px;
}

#inline-dialog-clone-wiki-dialog .clone-url input {
  width: 190px;
}

#inline-dialog-clone-wiki-dialog .clone-url.ssh input {
  width: 210px;
}

#inline-dialog-clone-wiki-dialog .contents {
  overflow: visible;
}

/* Make sure the clone url dropdown displays above the inline dialog */
#clone-url-dropdown-wiki {
  z-index: 110;
}

#wiki #wiki-edit,
#wiki #wiki-preview {
  border-top: 1px solid #ccc;
  margin-top: 0;
  padding-top: 20px;
}

#wiki #wiki-preview + #wiki-edit {
  margin-top: 20px;
}

#wiki #wiki-edit > h1,
#wiki #wiki-preview > h1 {
  border-bottom: none;
}

#wiki-preview #wiki-content {
  margin-top: 10px;
}

#wiki-edit .buttons-container {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

#wiki-edit input,
#wiki-edit textarea,
#wiki-edit .preview-container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 800px;
}

#wiki-edit textarea {
  font: 12px/16px Monaco,"Courier New",monospace;
}

#wiki-edit #id_path_group {
  margin-bottom: 5px;
}

#wiki-edit .markItUpHeader {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -4px;
  width: 800px;
}

#wiki-edit .markItUpHeader:after {
  clear: both;
  content: '';
  display: table;
}

#wiki-content.preview-container {
  border-radius: 0 0 5px 5px;
  margin-top: 0;
}

#wiki-content h1,
#wiki-content h2,
#wiki-content h3,
#wiki-content h4,
#wiki-content h5,
#wiki-content h6 {
  color: #333;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: none;
}

#wiki-content > h1:first-child,
#wiki-content > h2:first-child,
#wiki-content > h3:first-child,
#wiki-content > h4:first-child,
#wiki-content > h5:first-child,
#wiki-content > h6:first-child {
  margin-top: 0;
}


#wiki-content h1 {
  margin: 20px 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.25; /* 30px equivalent */
}

#wiki-content h2 {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 1.5; /* 30px equivalent */
}

#wiki-content h3 {
  margin: 20px 0 0 0;
  font-size: 18px;
  line-height: 1.5625; /* 25px equivalent */
}

#wiki-content h4 {
  font-size: 16px;
  margin: 20px 0 0 0;
  line-height: 1.25; /* 20px equivalent */
}

#wiki-content h5 {
  font-size: 14px;
  line-height: 1.42; /* 20px equivalent */
  margin: 10px 0 0 0;
  color: #747474;
  text-transform: uppercase;
}

#wiki-content h6 {
  margin: 10px 0 0 0;
  font-size: 12px;
  line-height: 1.66; /* 20px equivalent */
  color: #747474;
}

#notifications {
  position: relative;
}

#notification-sidebar {
  position: absolute;
  left: 0;
  width: 200px;
}

#notification-sidebar h1 {
  font-size: 20px;
  line-height: 1.6;
}

#notification-sidebar header {
  margin-bottom: 20px;
}

#notification-sidebar nav {
  margin-top: 5px;
}

#notification-sidebar nav li {
  margin-left: -10px;
}

#notification-sidebar header,
#notification-header {
  border-bottom: 1px solid #ccc;
  height: 50px; /* 70px */
  padding-top: 20px;
}

#notification-content {
  margin-left: 200px;
}

#notification-header {
  padding-left: 15px;
}

#notification-header nav {
  float: left;
  padding: 5px 15px 5px 0;
}

#notification-body {
  border-left: 1px solid #ccc;
  min-height: 300px;
}

#notification-header div.checkbox {
  height: 15px;
  margin-left: 1px;
  padding-left: 12px;
}
#notification-content #notification-message-bar .aui-message {
  margin: 0;
  border-radius: 0;
  border: 1px solid #cccccc;
  border-left: 0;
  border-top: 0;
  background: transparent;
}
#notification-content table {
  table-layout: fixed;
  margin-top: 0;
}
#notification-content .paginator {
  margin: 10px 0 30px 20px;
}
#notification-content table.bb-list thead {
  /*
        We can't use the assistive class here because it leaves a double border
        and breaks the column widths.
      */

  display: none;
}
#notification-content table.bb-list tbody tr {
  /* Silly hack to work around the transparent border from bb-list */

}
#notification-content table.bb-list tbody tr td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#notification-content table.bb-list tbody tr.focused > td:first-child {
  border-color: #3b73af;
}
#notification-content table.bb-list tbody tr:first-child td {
  border-top: none;
}
#notification-content table.bb-list tbody tr td.checkbox {
  width: 32px;
  vertical-align: middle;
}
#notification-content table.bb-list tbody tr td.from {
  width: 180px;
}
#notification-content table.bb-list tbody tr td.from .avatar {
  float: left;
  margin-top: 4px;
}
#notification-content table.bb-list tbody tr td.from span,
#notification-content table.bb-list tbody tr td.from time {
  margin-left: 42px;
  display: block;
}
#notification-content table.bb-list tbody tr td.from time {
  color: #707070;
  font-size: 12px;
  line-height: 1.6666666666666667;
}
#notification-content table.bb-list tbody tr td.message h1,
#notification-content table.bb-list tbody tr td.message p {
  font-size: 14px;
  line-height: 1.4285714285714286;
  margin: 0;
}
#notification-content table.bb-list tbody tr td.from span,
#notification-content table.bb-list tbody tr td.message h1,
#notification-content table.bb-list tbody tr td.message p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: auto;
}
#notification-content table.bb-list tbody tr.read td {
  background: #f5f5f5;
}
#notification-content table.bb-list tbody tr.selected td {
  background: #ebf2f9;
}
#notification-content table.bb-list tbody tr.unread td.message h1 {
  font-weight: bold;
}
#notification-content table.bb-list tbody tr > td:first-child {
  border-left: 0;
  padding-left: 12px;
}

#notification-body.view-notification {
  padding: 15px 20px;
}

#notification-thread {
  list-style: none;
  padding: 0;
}

#notification-thread li {
  margin: 20px 0 20px 50px;
  position: relative;
}

#notification-thread header a {
  font-weight: bold;
}

#notification-thread .avatar {
  left: -50px;
  position: absolute;
  top: 2px;
}

#notification-reply-form .avatar {
  top: 0;
}

#notification-reply-form label {
  display: none;
}

#notification-reply-form .field-group {
  padding-top: 0;
}

#notification-reply-form .field-group,
#notification-reply-form .buttons-container {
  padding-left: 0;
}

#notification-reply-form textarea {
  width: 100%;
}

#notification-compose-form {
  padding: 14px 0 10px;
}

#notification-compose-form #id_title, #notification-compose-form #id_message {
  width: 100%;
}

#team-members-container {
  border-top: 1px solid #ccc;
  margin-top: 30px;
  padding-top: 20px;
  width: 920px;
}
#create-team-form .buttons-container {
  margin-top: 20px;
  padding-left: 0;
}

#registration.social div.is-team-field {
  position: relative;
  padding-bottom: 30px;
}
#registration.social div.is-team-field #team-vs-individual-help-trigger {
  position: absolute;
  top: 60px;
  left: 145px;
  z-index: 2;
}
#registration.social .help-box {
  display: none;
}
#registration.social.team .social-box {
  display: none;
}
#registration.social.team .help-box {
  display: block;
}
#registration.social.team.workflow-box .sidebar + form {
  position: relative;
  border-right: none;
}
#registration.social.team.workflow-box .sidebar + form:after {
  display: none;
}
#registration.social.workflow-box .sidebar {
  padding-left: 30px;
  width: 280px;
}
#registration.social.workflow-box .sidebar h2 {
  margin-bottom: 20px;
}
#registration.social.workflow-box .sidebar + form {
  position: relative;
  border-right: 1px solid #cccccc;
}
#registration.social.workflow-box .sidebar + form:after {
  content: 'or';
  position: absolute;
  top: 50%;
  right: 0;
  margin: -7px -7px 0 0;
  background-color: #ffffff;
  font-weight: bold;
}
#registration #team-members-container {
  border-top: 1px solid #cccccc;
  margin-top: 10px;
  padding-top: 20px;
  width: 920px;
}
#registration #id_team_name_group,
#registration #id_username_group .description,
#registration #team-members-container {
  display: none;
}
#registration.team #id_first_name_group,
#registration.team #id_last_name_group {
  display: none;
}
#registration.team #id_team_name_group,
#registration.team #id_username_group .description,
#registration.team #team-members-container {
  display: inherit;
}
#registration.team #team-members-container {
  margin-top: 20px;
}
#registration.team .buttons-container {
  padding-left: 0;
}
#registration.registration-box[data-method="openid"] .secondary-link.standard,
#registration.registration-box[data-method="openid"] #registration-form {
  display: none;
}
#registration.registration-box[data-method="openid"] .secondary-link.openid,
#registration.registration-box[data-method="openid"] #openid-form-container {
  display: inherit;
}
#registration.registration-box[data-method="standard"] .secondary-link.openid,
#registration.registration-box[data-method="standard"] #openid-form-container {
  display: none;
}
#registration.registration-box[data-method="standard"] .secondary-link.standard,
#registration.registration-box[data-method="standard"] #registration-form {
  display: inherit;
}
#registration #social-login-forms {
  list-style: none;
  margin: 0;
  padding: 0;
}
#registration #social-login-forms li {
  margin-bottom: 10px;
}
#registration #social-login-forms button {
  position: relative;
  padding-left: 44px;
  width: 100%;
  height: 46px;
  text-align: left;
}
#registration #social-login-forms button:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.login-box[data-method="openid"] .secondary-link.standard,
.login-box[data-method="openid"] #log-in-container {
  display: none;
}
.login-box[data-method="openid"] .secondary-link.openid,
.login-box[data-method="openid"] #openid-container {
  display: inherit;
}
.login-box[data-method="standard"] .secondary-link.openid,
.login-box[data-method="standard"] #openid-container {
  display: none;
}
.login-box[data-method="standard"] .secondary-link.standard,
.login-box[data-method="standard"] #log-in-container {
  display: inherit;
}
#login-form .forgot-password {
  margin-left: 10px;
}
#login-form .sign-up {
  margin-top: 20px;
}
#social-login-forms.horizontal {
  position: relative;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 30px 0 0 0;
  border-top: 1px solid #cccccc;
}
#social-login-forms.horizontal:before {
  content: 'or';
  position: absolute;
  top: 0;
  left: 50%;
  margin: -11px 0 0 -7px;
  padding: 0 3px;
  background-color: #ffffff;
  font-weight: bold;
}
#social-login-forms.horizontal li {
  float: left;
  margin-right: 10px;
}
#social-login-forms.horizontal li:last-child {
  margin-right: 0;
}
#social-login-forms.horizontal button {
  position: relative;
  margin: 0;
  padding-left: 40px;
  width: 117px;
  height: 46px;
  text-align: left;
}
#social-login-forms.horizontal button:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background-size: 24px;
}

.login-box.reset header + p {
  margin-top: -12px;
}


#openid-form #providers {
  list-style: none;
  margin: 0;
  padding: 0;
}

#openid-form #providers li {
  float: left;
  margin: 0 4px 0 0;
}

#openid-form #providers a.selected {
  border-color: #2b547d;
}

#openid-form #providers a:focus {
  border-color: #69f;
}

#openid-form #providers a:focus,
#openid-form #providers a:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
}

#openid-form #providers a[title="Yahoo!"]      { background-position:  -24px; }
#openid-form #providers a[title="AOL"]         { background-position:  -48px; }
#openid-form #providers a[title="OpenID"]      { background-position:  -72px; }
#openid-form #providers a[title="MyOpenID"]    { background-position:  -96px; }
#openid-form #providers a[title="LiveJournal"] { background-position: -120px; }
#openid-form #providers a[title="Flickr"]      { background-position: -144px; }
#openid-form #providers a[title="WordPress"]   { background-position: -168px; }
#openid-form #providers a[title="VeriSign"]    { background-position: -192px; }
#openid-form #providers a[title="ClaimID"]     { background-position: -216px; }

#openid-form .provider, #openid-form .buttons {
  display: none;
}

#openid-form .provider.selected, #openid-form .buttons.selected {
  display: block;
}

#account-admin-header {
  height: 40px;
  padding: 20px 0 10px;
}

#account-admin-header h1 {
  float: left;
  margin: 0 20px 0 10px;
}

#account-admin {
  padding: 0 10px 60px;
}

#account-admin .nav {
  margin-top: 0;
  padding-top: 15px;
}

#account-admin .main {
  min-height: 380px;
  padding-top: 20px;
}

#delete-account .aui-message ul {
  margin-top: 10px;
}
#groups #groups-container > ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#groups #groups-container > ol > li {
  margin: 20px 0;
}
#groups #groups-container > ol > li header {
  padding: 10px 10px 0;
  background-color: #f5f5f5;
}
#groups #groups-container > ol > li header .name {
  margin-top: 0;
}
#groups #groups-container > ol > li header .actions {
  float: right;
  line-height: 25px;
}
#groups #groups-container > ol > li header .actions a {
  float: left;
  margin-left: 5px;
}
#groups #groups-container > ol > li header .actions a.delete-group {
  color: #707070;
}
#groups #groups-container > ol > li header .actions a.delete-group:hover {
  color: #333333;
}
#groups #groups-container > ol > li .error-bar {
  position: absolute;
  top: -60px;
  width: 100%;
  z-index: 1;
}
#groups #groups-container .group-members table.widget {
  margin-top: 0;
}
#groups #groups-container .group-members table.widget thead th {
  position: absolute;
  left: -9999px;
}
#groups #groups-container .group-members table.widget.invitations thead {
  border-bottom: none;
}
#groups #groups-container .group-members table.widget.invitations td.email .aui-icon {
  color: #707070;
  margin-right: 5px;
  vertical-align: middle;
}
#groups #groups-container .group-members table.widget.invitations td.email .aui-lozenge {
  position: relative;
  top: -1px;
}
#groups .forward-emails {
  margin-left: 20px;
}
#groups .buttons {
  margin: 17px 0 20px;
}
#add-group-name-input {
  width: 100%;
}

#account-admin #account-email #email-pane th.status {
  text-indent: -9999px;
}

#account-admin #account-email #email-pane .status {
  width: 130px;
}

#account-admin #account-email #email-pane .highlight {
  background-color: #ebf2f9;
}

#plans-and-billing form {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  padding: 14px 20px 14px 0;
  width: 400px;
}

#plans-and-billing form .field-group,
#plans-and-billing form .field-group:after,
#plans-and-billing form .buttons-container {
  clear: none;
}

#plans-and-billing form.aui .readonly-input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#plans-and-billing .help-link {
  float: right;
  margin-top: 10px;
  padding-right: 15px;
  height: 143px;
}

#plans-and-billing .access-widget {
  margin-top: 20px;
}

#plans-and-billing .access-widget th {
  height: 0;
  padding: 0;
  font-size: 0;
}

#plans-and-billing .access-widget th.user {
  text-indent: -9999px;
}

#plans-and-billing .access-widget table.widget {
  margin-top: 0;
}

#plans-and-billing #direct-access table.widget tr a[href="#repos"] {
  margin: 5px 0 0;
  line-height: 1.6667;
  font-size: 12px;
  position: relative;
}

#plans-and-billing #my-link {
  padding-left: 10px;
}

/* Plans and Billing Inline dialogs */
#inline-dialog-direct-access ol,
#inline-dialog-access-groups ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#inline-dialog-direct-access ol li > a,
#inline-dialog-access-groups ol li > a,
#inline-dialog-access-groups ol li > span {
  display: block;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#inline-dialog-direct-access ol li:hover,
#inline-dialog-access-groups ol li:hover {
  background: #f5f5f5;
}

/* Change Plan Dialog */
#bb-change-plan fieldset.group div.radio {
  line-height: 1.714;
  margin: 5px 0 0 20px;
}
#bb-change-plan fieldset.group div.radio input.radio {
  height: 1.714em;
}

#bb-change-plan fieldset.group div.radio label {
  position: relative;
  display: block;
  padding-left: 34px;
}

#bb-change-plan fieldset.group div.radio label img {
  position: absolute;
  left: 3px;
  top: 0;
}

#bb-change-plan fieldset.group legend {
  position: absolute;
  left: -9999px;
}

/* Consumers */
#consumers table.widget .updated {
  width: 110px;
}

/* OAuth consumers */
#bb-add-consumer-dialog form .error {
  margin-top: 0;
}

#bb-add-consumer-dialog form textarea,
#bb-edit-consumer-dialog form textarea {
  width: 100%;
  height: 50px;
}

#oauth-consumers {
  margin-top: 20px;
}

#oauth-consumers .buttons {
  margin-top: 10px;
}


#add-ssh-key-form,
#choose-password-form {
  display: none;
}
#ssh-key-help,
#password-help {
  display: none;
}
#inline-dialog-ssh-key-help .contents,
#inline-dialog-password-help .contents {
  padding: 20px;
}
.wizard-help-link {
  display: inline-block;
  margin-left: 10px;
}
.wizard-subhead {
  padding-bottom: 20px;
  text-align: center;
  color: #707070;
  font-size: 22px;
}

#security-sessions .buttons {
  margin: 20px 0;
}

#security-sessions table.aui td.logged-in,
#security-sessions table.aui td.logged-out {
  width: 100px;
}

#security-sessions #active-sessions tr.current {
  background-color: #ebf2f9;
}

#leave-team-form {
  margin-top: 20px;
}

#convert-team #team-groups {
  margin-bottom: 25px;
}

#account-notifications #toggle-email-container {
  margin-top: 10px;
}
#account-notifications .aui-buttons {
  margin-top: 10px;
}
#account-notifications form.aui {
  position: relative;
}
#account-notifications form.aui.disabled {
  display: none;
}
#account-notifications form.aui .form-list {
  margin-top: 10px;
}
#account-notifications form.aui .form-list fieldset.group,
#account-notifications form.aui .form-list .field-group {
  border-bottom: 1px solid #cccccc;
  padding: 7px 10px;
}
#account-notifications form.aui .form-list fieldset.group:first-child,
#account-notifications form.aui .form-list .field-group:first-child {
  border-top: 1px solid #cccccc;
}
#account-notifications .watched-list td.type {
  width: 100%;
}
#account-notifications .watched-list .watched-count {
  margin-right: 5px;
}
#account-notifications .info-box > div {
  padding: 20px;
  border-radius: 3px;
  background: #ffffff;
}
#bb-manage-watched-items-dialog #watched-items a.follow,
#account-admin #watched-items a.follow {
  display: inline-block;
}


/* General Styles */
body.mkt {
  background: #efeff0;
}
body.mkt #content {
  width: auto;
}
.marketing-content {
  color: #404040;
}
.marketing-content table {
  border-collapse: separate;
  border-spacing: 0;
}
.marketing-content caption,
.marketing-content th,
.marketing-content td {
  text-align: left;
  font-weight: normal;
}
.marketing-content blockquote:before,
.marketing-content blockquote:after,
.marketing-content q:before,
.marketing-content q:after {
  content: "";
}
.marketing-content blockquote,
.marketing-content q {
  quotes: "" "";
}
.marketing-content *::selection,
.marketing-content *::-moz-selection {
  background: rgba(61, 119, 180, 0.85);
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.marketing-content h1,
.marketing-content h2,
.marketing-content h3,
.marketing-content h4 {
  color: #205081;
}
.marketing-content .clear {
  clear: both;
}
.marketing-content section.bar table {
  width: 100%;
}
.marketing-content section.bar tr.icons td {
  padding-bottom: 5px;
  text-align: center;
  vertical-align: bottom;
  width: 14%;
}
.marketing-content section.bar tr.labels td {
  text-align: center;
}
.marketing-content section.content {
  width: 960px;
  margin: 0 auto;
  font-size: 16px;
  color: #205081;
}
.marketing-content .bar h4 {
  color: #205081;
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 20px;
  text-align: center;
  text-transform: none;
}
.marketing-content .bar a {
  color: #205081;
}
.marketing-content .bar .gallery {
  text-align: center;
}
.marketing-content .bar .gallery img {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-error .tipsy-arrow-w {
  border-right-color: #d04437;
}
.form-error .tipsy-arrow-e {
  border-left-color: #d04437;
}
.form-error .tipsy-inner {
  background-color: #d04437;
  font-family: 'proxima-nova', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  max-width: 400px;
}
#id_recaptcha_group > label {
  display: none;
}
#homepage {
  /* Hero Area */

}
#homepage .hero {
  margin: 0 auto;
  padding-top: 45px;
}
#homepage .hero h2 {
  color: #205081;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
}
#homepage .hero p {
  font-size: 20px;
  margin-bottom: 11px;
  text-align: center;
}
#homepage .hero .intro h1 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: lighter;
  margin: 20px 0 40px 0;
  font-size: 60px;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.1;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 2px 2px #333333;
}
#homepage .hero .intro .feature-list {
  list-style: none;
  margin-bottom: 50px;
  width: 100%;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
#homepage .hero .intro .feature-list li {
  font-family: 'proxima-nova', sans-serif;
  font-weight: lighter;
  display: inline;
  float: none;
  letter-spacing: 1px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
  font-size: 18px;
}
#homepage .hero .intro .feature-list li:nth-child(n+2):before {
  padding-left: 5px;
  content: " + ";
}
#homepage .hero .actions {
  width: 100%;
  margin: 0 auto;
}
#homepage .hero .user-signup {
  margin: 0 auto 35px auto;
  width: 220px;
}
#homepage .hero .user-signup input,
#homepage .hero .user-signup button {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #0e4984;
}
#homepage .hero .user-signup input {
  font-family: 'proxima-nova', sans-serif;
  font-weight: lighter;
  padding-left: 10px;
}
#homepage .hero .user-signup button {
  background-color: #1e9dde;
  background-image: -moz-linear-gradient(top, #24a6e8, #1590ce);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24a6e8), to(#1590ce));
  background-image: -webkit-linear-gradient(top, #24a6e8, #1590ce);
  background-image: -o-linear-gradient(top, #24a6e8, #1590ce);
  background-image: linear-gradient(to bottom, #24a6e8, #1590ce);
  background-repeat: repeat-x;
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 1px 2px #136491;
  -webkit-box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.5), 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.5), 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.5), 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-font-smoothing: antialiased;
}
#homepage .hero .user-signup input.invalid {
  border-color: #d04437;
}
#homepage .hero .user-signup fieldset,
#homepage .hero .user-signup #id_recaptcha_group {
  display: none;
}
body.homepage {
  background-color: #2d67a3;
  background-image: -moz-linear-gradient(top, #3270b0, #26598f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3270b0), to(#26598f));
  background-image: -webkit-linear-gradient(top, #3270b0, #26598f);
  background-image: -o-linear-gradient(top, #3270b0, #26598f);
  background-image: linear-gradient(to bottom, #3270b0, #26598f);
  background-repeat: repeat-x;
  background-attachment: fixed;
}
body.homepage #wrapper {
  margin-bottom: -160px;
}
body.homepage #header > nav {
  height: 51px;
}
body.homepage #header > nav .aui-header-primary li {
  display: none;
}
body.homepage #header > nav .aui-header-secondary a:not(.aui-button) {
  padding: 17px;
  font-size: 16px;
}
body.homepage #header > nav .aui-header-secondary a.aui-button {
  font-size: 16px;
  line-height: 26px;
  margin-top: 8px;
}
body.homepage #logo-link {
  height: 50px;
  padding: 5px 10px;
}
body.homepage #logo-link span {
  background-image: url('../img/logo.png');
  background-size: 148px 37px;
  width: 148px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body.homepage #logo-link span {
    background-image: url('../img/logo@2x.png');
  }
}
body.homepage #footer {
  border-top: none;
  background-color: transparent;
  padding-top: 40px;
}
body.homepage #footer #footer-logo {
  background: transparent;
  padding: 0;
}

body.homepage #footer .footer-body {
  margin: 0 auto;
  padding: 0;
}
body.homepage #footer .footer-body a,
body.homepage #footer .footer-body > ul > li::after {
  color: white;
}

#features {
  /* Overview Tour */

}
#features h1 {
  margin: 40px auto;
  width: 960px;
  font-size: 40px;
}
#features .overviewTour {
  margin: 0 auto;
  width: 960px;
}
#features .featuredItem {
  border-bottom: 1px solid #dadada;
  clear: both;
  padding-bottom: 42px;
  margin-bottom: 25px;
  overflow: hidden;
}
#features .featuredItem.last {
  border-bottom-width: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#features .featuredImage {
  height: 200px;
  margin-bottom: -1px;
  overflow: hidden;
  width: 450px;
}
#features .featuredImage.border {
  border: 1px solid #ccc;
}
#features .featuredImage.sourcetree {
  border-top: none;
  border-left: none;
  border-right: none;
}
#features .imageRight .featuredImage {
  border-radius: 6px;
  margin-bottom: 10px;
}
#features .imageLeft .featuredImage {
  border-radius: 6px;
  margin-bottom: 10px;
}
#features .imageRight .featuredText,
#features .imageLeft .featuredImage {
  float: left;
}
#features .imageLeft .featuredText,
#features .imageRight .featuredImage {
  float: right;
}
#features .featuredImage {
  vertical-align: bottom;
}
#features .imageRight .featuredImage {
  float: right;
}
#features .imageRight .featuredText {
  width: 456px;
  margin: 0px 36px 0px 0px;
}
#features .featuredText h3 {
  color: #205081;
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0px;
  text-transform: none;
}
#features .featuredText p {
  font-size: 16px;
  line-height: 26px;
}
#features .imageLeft .featuredText {
  width: 456px;
  margin: 0 0px 0 36px;
}

#plans {
  /* Features on Pricing page */

  /* Stash Ad */

  /* Questions */

}
#plans .features h2 {
  color: #205081;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 23px;
  margin-top: 2px;
  text-align: center;
}
#plans .features p {
  font-size: 20px;
  margin-bottom: 13px;
  text-align: center;
}
#plans .features ul {
  border-top: 1px solid #a1cae0;
  margin: 0 auto;
  padding-bottom: 45px;
  padding-left: 0;
  overflow: hidden;
  width: 594px;
  list-style: none;
}
#plans .questions {
  border-bottom: 1px solid #dadada;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 31px;
  width: 960px;
}
#plans .questions p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
}
#plans .questions p.question {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
}
#plans .questions .col1 {
  float: left;
  width: 450px;
}
#plans .questions .col2 {
  float: right;
  width: 450px;
}
